<h3>Available ad contracts</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Advertiser</th>
      <th>Price / 1000 views</th>
      <th>Actions</th>
    </tr>
  <thead>
  <tbody>
  </tbody>
</table>

