<h3><%= company.get("name") %></h3>
<p>
  Money: $<span class='money'><%= company.get("money") %></span>
</p>
<p>
  <a class="my-programs" href="#my-programs">
    Programs: <span class='programs'><%= company.programs.length %></span>
  </a>
</p>
