<div class="row">
  <div class='span3'>
    <div class='well sidebar-nav'>
      <h3><%= name %></h3>
      <p>
        Money: $<span class='money'><%= company.get("money") %></span>
      </p>
      <p>
        Programs: <span class='programs'><%= company.programs.length %></span>
      </p>

      <hr />

      <ul class="nav nav-pills nav-stacked">
        <li><a class="available-programs" href="#available-programs">Available Programs</a></li>
      </ul>
    </div>
  </div>

  <div class='span9' id="game-subview">

  </div>
</div>
