<h3>My schedule</h3>
<form action="#" class="form-inline">
  <input type="text" name="day" placeholder="Day" class="input-small" />
  <input type="text" name="time" placeholder="Time" class="input-small" />
  <select name="program_id" data-placeholder="Choose a Program..."></select>

  <button type="submit" class="btn">Create slot</button>

</form>
<div class="row">
  <% for(day in days) { %>
    <div class="span2 slots-container" data-day="<%= day %>">
    </div>
  <% } %>
</div>
