<h3>My schedule</h3>
<form action="#" class="form-inline">
  <input type="text" name="day" placeholder="Day" class="input-small" />
  <input type="text" name="time" placeholder="Time" class="input-small" />
  <select name="program_id" data-placeholder="Choose a Program..."></select>

  <button type="submit" class="btn">Create slot</button>

</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <% for(day in days) { %>
        <th>Day <%= day %></th>
      <% } %>
    </tr>
  </thead>

  <tbody>
    <% for(time in times) { %>
      <tr>
        <td><%= time %></td>
        <% for(day in days) { %>
          <td class="slot-<%= day %>-<%= time %>">
            - Available -
          </td>
        <% } %>
      </tr>
    <% } %>
</div>
