<div class="popularity">
  <div class="stars">
    <i class='icon-star'></i>
    <i class='icon-star'></i>
    <i class='icon-star'></i>
    <i class='icon-star'></i>
    <i class='icon-star'></i>
    <div class="fill" style="width: <%= rating %>%">
      <div>
        <i class='icon-star'></i>
        <i class='icon-star'></i>
        <i class='icon-star'></i>
        <i class='icon-star'></i>
        <i class='icon-star'></i>
      </div>
    </div>
  </div>
  <small><%= rating %>%</small>

</div>
