<div class="popularity">
  <div class="stars">
    <span class='icon-star'></span>
    <span class='icon-star'></span>
    <span class='icon-star'></span>
    <span class='icon-star'></span>
    <span class='icon-star'></span>
    <div class="fill" style="width: <%= rating %>%">
      <div>
        <span class='icon-star'></span>
        <span class='icon-star'></span>
        <span class='icon-star'></span>
        <span class='icon-star'></span>
        <span class='icon-star'></span>
      </div>
    </div>
  </div>
  <small><%= rating %>%</small>

</div>
