/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 */

.programs > div[data-program-id] {
  display: inline-block;
  margin-right: 20px;
}

.popularity{
  width: 90px;
  text-align: right;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 4px;
}
.popularity small{
  font-size: 70%;
}
.popularity .stars{
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  color: #e5e5e5;
  letter-spacing: -2px
}
.popularity .stars .fill{
  /*border: 1px solid red;*/
  position: absolute;
  display: inline;
  overflow: hidden;

  height: auto;
  color: #ffba00;
  top: 0;
  left: 0;
}
.popularity .stars .fill > div {
  position: relative;
  width: 6em;
}

.table-striped tbody tr .slot.current {
  background-color: rgba(255, 100, 0, 0.22);
}
.slot.past {
  background-color: rgba(255, 238, 140, 0.22);
}

.table-striped tbody tr:nth-child(odd) .slot.past {
  background-color: rgba(255, 238, 140, 0.42);
}
